
<div>
	<img src="/assets/movie_theatre.jpg" />
	<h1>movieSQL</h1>
	<form action="/search" method="get">
		Search * FROM movies WHERE title=
		"<input type="text" name="q" placeholder="enter movie title"/>"
	<button> search </button>
</div>
